{% extends "django_heroku_webpage/base.html" %}
{% block page-header %}
    <h1> Topics </h1>
{% endblock page-header %}
{% block content %}
    <ul>
        {% for topic in topics %}
            <li>
                <h3>
                    <a href="{% url 'django_heroku_webpage:topic' topic.id %}">{{ topic }}</a>
                </h3>
            </li>
        {% empty %}
            <li>
                <h3>No topics have been added.</h3>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}