{% extends "django_heroku_webpage/base.html" %}
{% block page-header %}
    <h1> Topic: {{ topic }} </h1>
{% endblock page-header %}
{% block content %}
    <p>
        <a href="{% url 'django_heroku_webpage:new_entry' topic.id %}">Add new entry</a>
    </p>

    {% for entry in entries %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ entry.date_added|date:'M d, Y H:i' }}
                <small><a href="{% url 'django_heroku_webpage:edit_entry' topic.id %}">Edit entry</a></small>
            </h4>
            <div class="card-body">
                {{ entry.text|linebreaks }}
            </div>
        </div>
    {% empty %}
        <p>No entries for this topic have been added.</p>
    {% endfor %}
{% endblock content %}